body {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    background-color: #DBDBDB;
}

h1, h2, h3, h4 {
    text-align: center;
}

.container {
    border: 1px solid grey;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F5F5F5;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*input:focus,textarea:focus,select:focus{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 10px #007eff;
  outline: none;
}*/
.form {
    padding: 20px;
    /*box-shadow: -2px -2px 8px grey;*/
    /*margin-bottom: 15px;*/
    margin-left: auto;
    margin-right: auto;

}

.form_preview {
    margin-bottom: 10px;

}


.form-group {
    border: 1px solid grey;
    background-color: #ACC1D3;
    margin-bottom: 10px;
}

label {
    width: 300px; /* Width of labels */
    /*float: left;*/
    /*text-align: right;*/
    /*margin-right: 15px;*/
    font-weight: bold;
}

.preview {
    /*border: 1px solid grey;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;*/
    font-weight: bold;
    color: #7899BE;
    line-height: 1.5;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;

}

.header {
    margin-bottom: 50px;
}

.header img {
    width: 100px;
    height: 100px;
    float: left;
}

.header h1 h3{
    position: relative;
    top: 20px;
    left: 10px;
}

#email_image {
    width: 100px;
    height: 100px;
    margin-left: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.instructions {
    color: #2E3F4F;
    font-size: 12px;
}

.form_edit {
    margin-top: 30px;
}

#valid, #valid_date {
    margin-top: 5px;
    color: #3D8A73;
    font-size: 12px;
}

#invalid, #invalid_date {
    margin-top: 5px;
    color: white;
    font-size: 12px;
}

.ajax input {
    margin-top: 10px;
}

.box {
width:375px;
display: block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
    display: inline-block;
    float: none;
    background-color: #7899BE;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px;
    padding: 20px;
}

.btn-green {
    background-color: #3D8A73;
}

.btn-inline {
    display: inline-block;
    margin-right: 5px;
}

/** EDIT PREVIEW */
.preview:hover {
    color: #000;
    background-color: #ffffd3;
}

.green_div {
    background-color: #3D8A73;

}

.red_div {
    background-color: red;
    opacity: .5;
}
